body {
	background: #eceff0;
}
body, input {
	font: 1em "Open Sans", sans-serif;
	color: #363639;
}
a {
	text-decoration: none;
	border-bottom: 1px dashed #363639;
}
/* List */
.list {
	background-color: #fff;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	box-sizing: border-box;
}
.list .header {
	font-family: "Shadows Into Light Two", cursive;
	margin : 0 0 10px 0;
}

/* items */
.items {
	margin :0;
	padding: 0;
	list-style-type: none;
}
.items li:hover .done-button {
	opacity: 1;
}
.items .item.done {
	text-decoration: line-through;
}

.clear {
	margin: 5px auto;
	padding: 5px 0;
	margin-left: 300px; 
}
.clear li:hover .done-button {
	opacity: 1;
}

.items li,
.item-add .input {
	border:0;
	border-bottom: 1px dashed #ccc;
	padding : 15px 0;
}
 /*.clear li {
 	margin: 5px auto;
	border-bottom: none;
}*/
.input:focus {
	outline:none;
}
.input {
	width:100%;
}
/* Done Button */
 .done-button {
	display: inline-block;
	font-size: .8em;
	background-color: #d9dfe1;
	color:#363639;
	padding: 3px 6px;
	border:0;
	opacity: 0.4;
}
/*submit button */
.submit {
	background-color: lightgreen;
	padding: 5px 10px;
	border:1px solid #ddd;
	width : 100%;
	margin-top: 10px;
	box-shadow: 3px 3px 0 #ddd;
	border-radius: 5px;
}